[submodule "MAIN/smartcontracts/VCC_ledger/lib/forge-std"]
	path = MAIN/smartcontracts/VCC_ledger/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Main/smartcontracts/VCC_ledger/lib/openzeppelin-contracts"]
	path = Main/smartcontracts/VCC_ledger/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
